server:
  port: ${APP_PORT:8080}
  servlet:
    context-path: ${APP_PATH:/}
  error:
    include-message: always
  tomcat:
    max-swallow-size: ${MAX_COMBINED_DOCUMENTS_UPLOAD:2MB}
    max-http-form-post-size: ${MAX_COMBINED_DOCUMENTS_UPLOAD:2MB}

openapi:
  tOP:
    base-path: /

logging:
  level:
    root: INFO
    org:
      springframework:
        data:
          neo4j: ERROR

spring:
  max-batch-size: ${MAX_BATCH_SIZE:100}
  neo4j:
    uri: bolt://${DB_NEO4J_HOST:localhost}:${DB_NEO4J_PORT:7687}
    connection-timeout: ${DB_NEO4J_CONNECTION_TIMEOUT:30}s
    authentication:
      username: ${DB_NEO4J_USER:neo4j}
      password: ${DB_NEO4J_PASS}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        # Reverts to the behavior of Hibernate 5.3+
        id:
          "[db_structure_naming_strategy]": legacy
  datasource:
    url: jdbc:${DB_TYPE:postgresql}://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:postgres}
    username: ${DB_USER:postgres}
    password: ${DB_PASS}
  security:
    cors:
      allowed-origins: "*"
    oauth2:
      enabled: ${OAUTH2_ENABLED:false}
      resourceserver:
        jwt:
          issuer-uri: ${OAUTH2_URL:http://127.0.0.1:8081}/realms/${OAUTH2_REALM:top-realm}
          jwk-set-uri: ${OAUTH2_DOCKER_URL:${OAUTH2_URL:http://127.0.0.1:8081}}/realms/${OAUTH2_REALM:top-realm}/protocol/openid-connect/certs
  paging:
    page-size: 25
  jackson:
    default-property-inclusion: NON_NULL

management:
  health:
    elasticsearch:
      enabled: false

org:
  jobrunr:
    background-job-server:
      enabled: true

top:
  appName: '@project.name@'
  version: '@project.version@'
  demo-data: ${IMPORT_DEMO_DATA:false}
  result:
    dir: ${QUERY_RESULT_DIR:config/query_results}
    download-enabled: ${QUERY_RESULT_DOWNLOAD_ENABLED:true}
  phenotyping:
    data-source-config-dir: ${DATA_SOURCE_CONFIG_DIR:config/data_sources}
    execute-queries: ${EXECUTE_QUERIES:true}
  documents:
    data-source-config-dir: ${DOCUMENT_DATA_SOURCE_CONFIG_DIR:config/data_sources/nlp}
    default-adapter: ${DOCUMENT_DEFAULT_ADAPTER:#{null}}
    concept-graphs-api:
      uri: ${CONCEPT_GRAPHS_API_ENDPOINT:http://localhost:9007}
      enabled: ${CONCEPT_GRAPHS_API_ENABLED:false}
    security:
      graphdb:
        username: ${DB_NEO4J_USER:neo4j}
        password: ${DB_NEO4J_PASS:#{null}}
    max-term-count: 10000

coding:
  terminology-service: ${TERMINOLOGY_SERVICE_ENDPOINT:https://www.ebi.ac.uk/ols4/api}
  suggestions-page-size: 1000
  code-children-page-size: 500
