name: Docker Image CI

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:

  build-and-push-docker-image:
    name: Build Docker image and push to GitHub Container Registry
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'adopt'
          server-id: github
          settings-path: ${{ github.workspace }}
          cache: 'maven'
          check-latest: true
      - run: mvn -B test --no-transfer-progress -s .mvn-ci.xml --file pom.xml
        env:
          GH_MAVEN_PKG_AUTH_TOKEN: ${{ secrets.GH_MAVEN_PKG_AUTH_TOKEN }}
          GH_MAVEN_PKG_USER: ${{ secrets.GH_MAVEN_PKG_USER }}
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          secrets: |
            "GH_MAVEN_PKG_AUTH_TOKEN=${{ secrets.GH_MAVEN_PKG_AUTH_TOKEN }}"
            "GH_MAVEN_PKG_USER=${{ secrets.GH_MAVEN_PKG_USER }}"
