---
name: Lint and test

on:
  push:
    branches:
      - main
    paths:
      - "pom.xml"
      - ".mvn-ci.xml"
      - "src/**"
      - ".github/workflows/lint-and-test.yml"
  pull_request:
    branches:
      - main
    paths:
      - "pom.xml"
      - ".mvn-ci.xml"
      - "src/**"
      - ".github/workflows/lint-and-test.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GH_MAVEN_PKG_AUTH_TOKEN: ${{ secrets.GH_MAVEN_PKG_AUTH_TOKEN }}
      GH_MAVEN_PKG_USER: ${{ secrets.GH_MAVEN_PKG_USER }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'adopt'
          server-id: github
          settings-path: ${{ github.workspace }}
          cache: 'maven'
          check-latest: true
      - name: Check Google Java Style
        uses: axel-op/googlejavaformat-action@v3
        with:
          args: "--skip-reflowing-long-strings --replace"
          skip-commit: true
          files: src/**/java/**/*.java
      - name: Print diffs
        run: git --no-pager diff --exit-code
      - name: Run Java tests
        run: mvn -B test --no-transfer-progress -s .mvn-ci.xml --file pom.xml
